<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Event Planner</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/CommonCSS.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/CommonJS.js"></script>
    <style type="text/css">
        body {
            background-image: url('../../content/images/eventBckgImg.jpg');
            margin: 0;
        }

        .backgImg {
            background-image: url('../../content/images/Klsb1x.jpg');
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
        var Userid = '@Request.RequestContext.HttpContext.Session["UserID"]';
        if (Userid > 0) {
        $("#login").hide();
        }
        else {
        $("#login").show();
        $("#logout").hide();
        }
        });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Buddies Together", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Venues", "VenueList", "Venue")</li>
                    <li>@Html.ActionLink("Events", "EventsList", "Events")</li>
                    <li>@Html.ActionLink("About", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li id="login">@Html.ActionLink("Login", "Login", "User")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content backgImg" style="color: aliceblue;">
        @RenderBody()
        <hr />
        <footer>
            <p>Your Event Planning Partner</p>
            <a name="logout" id="logout" href="@Url.Action(" Logout","User")">Logout</a>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
